* {
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.score {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    width: 800px;
}

.score span {
    font-weight: 700;
    font-size: 1rem;
    font-family: Helvetica;
}

.score span.gt-previous {
    color: #48bb78;
}

.score span.lt-previous {
    color: #a0aec0;
}

.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.play {
    background-color: #c6f6d5;
    border: none;
    border-radius: 0.5rem;
    color: #2f855a;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0.95;
    padding: 2.5rem;
    position: absolute;
    -webkit-appearance: none;
}

.play:hover {
    background-color: #9ae6b4;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
