* {
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.score {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    width: 800px;
}

.score span {
    font-weight: 700;
    font-size: 1rem;
    font-family: Helvetica;
}

.score span.gt-previous {
    color: #48bb78;
}

.score span.lt-previous {
    color: #a0aec0;
}
